<div class='row'>
  <h4><%= t(".sign_up") %></h4>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.hidden_field :token, value: params[:token] %>
  <div class='row'>
    <%= f.input :email, wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class='row'>
    <%= f.input :password, label: 'Senha', wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class='row'>
    <%= f.input :password_confirmation, label: 'Confirme sua Senha', wrapper_html: { class: 'm12 s12' } %>
  </div>
  <div class="row">
    <%= button_tag(type: 'submit', class: "col s12 waves-effect waves-light btn cyan") do %>
      <%= t(".sign_up") %>
    <% end %>
  </div>
  <%= render_devise_view_links %>
<% end %>
