<% breadcrumb :clientes %>
<div class="row">
  <h3>Clientes</h3>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th><%= Cliente.human_attribute_name(:email) %></th>
        <th><%= Cliente.human_attribute_name(:nome) %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @clientes.each do |cliente| %>
        <tr>
          <td><%= link_to cliente.id, admin_cliente_path(cliente) %></td>
          <td><%= cliente.email %></td>
          <td><%= cliente.nome %></td>
          <td><%= cliente.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= link_icon_to_edit(edit_admin_cliente_path(cliente))%></td>
          <td><%= link_icon_to_destroy(admin_cliente_path(cliente)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <%= link_icon_to_back admin_home_admin_index_path %>
  <%= link_icon_to_new(new_admin_cliente_path, action_new_fem(@clientes)) %>
</div>

<div class="center-align">
  <%= will_paginate @clientes, renderer: MaterializePagination::Rails %>
</div>
