<%= simple_form_for([:admin, @wsi_pessoa]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="row">
      <%= f.input :id_cliente, wrapper_html: { class: 'm12 s12' } %>
    </div>
    <div class="row">
      <%= f.input :acesso_tarefas, wrapper_html: { class: 'm12 s12' }  %>
    </div>
    <div class="row">
      <%= f.input :acesso_sms, wrapper_html: { class: 'm12 s12' }  %>
    </div>
  </div>
  
  <div class="row">
    <% if @wsi_pessoa.persisted? %>
      <%= link_icon_to_back admin_wsi_pessoa_path(@wsi_pessoa) %>
    <% else %>
      <%= link_icon_to_back admin_wsi_pessoas_path %>
    <% end %>
    <%= save_button %>
  </div>
<% end %>
