<% breadcrumb :wsi_pessoa, @wsi_pessoa %>
<div class="row">
  <h3><%= singular_model_name_for(WsiPessoa) %></h3>
</div>

<div class="row">
  <b>ID</b>
  <%= @wsi_pessoa.id %>
</div>
<div class="row">
  <b><%= WsiPessoa.human_attribute_name(:id_cliente) %></b>
  <%= @wsi_pessoa.id_cliente %>
 </div>
<div class="row">
  <b><%= WsiPessoa.human_attribute_name(:acesso_tarefas) %></b>
  <%= bs_yesno_label(@wsi_pessoa.acesso_tarefas) %>
</div>
<div class="row">
  <b><%= WsiPessoa.human_attribute_name(:acesso_sms) %></b>
  <%= bs_yesno_label(@wsi_pessoa.acesso_sms) %>
</div>

<div class="row">
  <%= link_icon_to_back admin_wsi_pessoas_path %>
  <%= link_icon_to_edit(edit_admin_wsi_pessoa_path(@wsi_pessoa))%>
</div>