<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Track-J</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <main>
      <%= render 'layouts/topnavbar_admin' %>

      <div class="container-track">
        <% if current_admin && !current_page?(admin_home_admin_index_path) %>
          <div class="row" style="margin-top: 10px;">
            <nav class="grey lighten-1">
              <div class="nav-wrapper">
                <div class="col s12" style="margin-left: 10px;">
                  <%= breadcrumbs class: "breadcrumb cyan-text text-darken-2" %>
                </div>
              </div>
            </nav>
          </div>
        <% end %>

        <% if notice.present? %>
          <div class="notice" data-msg="<%= notice %>"></div>
        <% end %>

        <% if alert.present? %>
          <div class="notice" data-msg="<%= alert %>"></div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
